<div id="body">
    <div id="bracelet" class="bracelet-top"></div>
    <div id="timewatch">
        <div id="screen">
            <div id="date">
                {{ time }}
            </div>
        </div>
        <div id="button-place">
            <div id="button" class="button-top"></div>
            <div id="button" class="button-bottom"></div>
        </div>
    </div>
    <div id="bracelet" class="bracelet-bottom"></div>
    <div id="footer">
        <img class="logo" src="assets/img/github_icon.png" (click)="goToGitHub">
        <img class="logo" src="assets/img/linkedin_icon.png" (click)="goToLinkedIn">
    </div>
</div>